body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: sans-serif;
  text-align: center;
  background: #cfcfcf;
}

a {
  color: #000;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.drum-key {
  display: inline-block;
}

.drum-key button {
  min-width: 60px;
  min-height: 60px;
  background: #f7d07e;
  border: 5px solid #74520a;
  border-radius: 40px;
  font-size: 1.2em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
